.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding: 0;
}

.fancybox__backdrop {
	background: rgba(14, 22, 65, 0.7);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.popup {
	display: none;
	background: #fff;
	color: #000;
	position: relative;
	border-radius: 0.25rem;
	max-width: rem(960);
	width: 100%;
	padding: 2rem 1.5rem;
	@media (min-width: $md4) {
		padding: 5.63rem 7.88rem;
	}

	// .popup__close
	&__close {
		font-size: 1.5rem;
		position: absolute;

		width: 1.5rem;
		height: 1.5rem;
		transition: color 0.3s ease;
		top: 0.5rem;
		right: 0.5rem;
		@media (min-width: $md4) {
			top: 2.12rem;
			right: 2.12rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #f06868;
			}
		}
	}
	// .popup__title
	&__title {
	}
	&__description {
		margin-top: 1rem;
		font-size: 1.25rem;
	}
	// .popup__form
	&__form {
		margin-top: 1.81rem;
		.row {
			& > * {
				padding: 0.75rem 1rem;
			}
		}
	}
}
