@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.catalog__card-link::before, .swiper-button-next, .swiper-button-prev, .header-catalog__link::before, .header__catalog-toggler.active::before, [class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-cross:before, .header__catalog-toggler.active:before {
  content: "\e910";
}

.icon-align-left:before {
  content: "\e90f";
}

.icon-phone:before {
  content: "\e90e";
}

.icon-align:before {
  content: "\e900";
}

.icon-balance-scale:before {
  content: "\e901";
}

.icon-book-open:before {
  content: "\e902";
}

.icon-chevron-down:before {
  content: "\e903";
}

.icon-comment-question:before {
  content: "\e904";
}

.icon-next:before, .catalog__card-link:before, .swiper-button-next:before, .header-catalog__link:before {
  content: "\e905";
}

.icon-prev:before, .swiper-button-prev:before {
  content: "\e906";
}

.icon-search:before {
  content: "\e907";
}

.icon-shopping-cart:before {
  content: "\e908";
}

.icon-telegram:before {
  content: "\e909";
}

.icon-telegram-rounded:before {
  content: "\e90a";
}

.icon-whatsapp:before {
  content: "\e90b";
}

.icon-whatsapp-rounded:before {
  content: "\e90c";
}

.icon-window-restore:before {
  content: "\e90d";
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  min-width: 20rem;
  min-height: 100%;
  line-height: normal;
  background: #1b1b1b;
  color: #fff;
  margin-right: 0 !important;
}
@media (max-width: 991.98px) {
  body:has(.header.open-menu) {
    overflow: hidden;
  }
}
body.lock-catalog {
  overflow: hidden;
}
body.lock-catalog .wrapper {
  position: relative;
}
body.lock-catalog .wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #262626;
  opacity: 0.7;
  z-index: 5;
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: clip;
}

.page {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
}
@media (min-width: 575.98px) {
  .container {
    box-sizing: content-box;
    max-width: 540px;
  }
}
@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1239.98px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  position: relative;
  z-index: 6;
}
.header.open-catalog {
  background: #232323;
}
.header__top {
  background: #262626;
  padding: 0.5rem 0;
  position: relative;
  z-index: 6;
}
.header__main {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  border-bottom: 0.0625rem solid #3b3b3b;
}
.header__logo {
  flex: 0 0 4.625rem;
  display: block;
  margin-right: 0.5rem;
}
.header__search {
  flex: 1 1 auto;
}
.header__socials {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.header__social {
  background: #f9851f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 2.25rem;
  height: 2.25rem;
  color: #1b1b1b;
  transition: background-color 0.3s ease;
}
@media (any-hover: hover) {
  .header__social:hover {
    background-color: #df6c06;
  }
}
.header__contacts {
  display: flex;
  gap: 1.25rem;
}
.header__contacts-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}
.header__contacts-caption {
  color: #898989;
  font-size: 0.75rem;
  line-height: 120%;
}
.header__contacts-link {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .header__contacts-link:hover {
    color: #f9851f;
  }
}
.header__bottom {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 0.87rem 0 1.25rem;
}
.header__categories {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
}
.header__category-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s ease;
}
.header__category-link::before {
  width: 0.875rem;
  height: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9851f;
}
.header__category-link.btn {
  padding-inline: 1.25rem;
}
@media (any-hover: hover) {
  .header__category-link:hover {
    color: #f9851f;
  }
}
.header__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.header__catalog-toggler::before {
  width: 0.875rem;
  height: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  overflow: visible;
}
.menu:not(.swiper-initialized) .menu__item:not(:last-child) {
  margin-right: 1.25rem;
}
.menu__item {
  color: #898989;
  font-size: 0.75rem;
  line-height: 120%;
  width: auto;
}
.menu__item.menu__item--parent {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.125rem;
  width: 100%;
}
@media (min-width: 767.98px) {
  .menu__item.menu__item--parent {
    width: auto;
    flex-wrap: nowrap;
  }
}
@media (any-hover: hover) {
  .menu__item.menu__item--parent:hover .menu__link,
  .menu__item.menu__item--parent:hover .menu__arrow {
    color: #f9851f;
  }
  .menu__item.menu__item--parent:hover .menu__arrow {
    transform: rotate(180deg);
  }
}
@media (any-hover: hover) and (min-width: 767.98px) {
  .menu__item.menu__item--parent:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
.menu__link {
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #f9851f;
  }
}
.menu__arrow {
  width: 0.875rem;
  height: 0.875rem;
  margin-left: auto;
  transition: color 0.3s ease, transform 0.3s ease;
}
.menu__arrow.active {
  transform: rotate(180deg);
}

.search {
  position: relative;
}
.search__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.875rem;
  width: 0.875rem;
  height: 0.875rem;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #898989;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .search__btn:hover {
    color: #fff;
  }
}
.search__input {
  border-radius: 2.6875rem;
  border: 0.0625rem solid #3b3b3b;
  text-overflow: ellipsis;
  color: #fff;
  background: transparent;
  transition: all 0.3s ease;
  padding: 0.5625rem 1rem 0.5625rem 2.0625rem;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 120%;
}
.search__input:focus {
  border: 0.0625rem solid #fff;
}
.search__input::placeholder {
  color: #898989;
  opacity: 1;
}

.header-catalog {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transform-origin: center top;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -0.4375rem, 0);
  will-change: transform;
  background: #232323;
}
.header.open-catalog .header-catalog {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.header-catalog .row {
  margin: 0 -0.625rem;
  row-gap: 1.25rem;
}
.header-catalog .row > * {
  padding: 0 0.625rem;
}
.header-catalog__content {
  border-top: 0.0625rem solid #3b3b3b;
  padding: 1rem 0 1.25rem;
}
.header-catalog__list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 75%;
}
.header-catalog__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
  color: #898989;
  transition: color 0.3s ease;
}
.header-catalog__link::before {
  order: 1;
  font-size: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.header-catalog__link.header-catalog__link--accent {
  color: #f9851f;
  font-size: 0.875rem;
}
.header-catalog__link.header-catalog__link--white {
  color: #fff;
  font-size: 0.875rem;
}
@media (any-hover: hover) {
  .header-catalog__link:hover {
    color: #fff;
  }
  .header-catalog__link:hover::before {
    transform: translateX(0.5rem);
  }
}

@media (max-width: 991.98px) {
  .submenu {
    flex: 0 0 100%;
    display: none;
  }
  .submenu.open {
    display: block;
  }
}
@media (min-width: 991.98px) {
  .submenu {
    position: absolute;
    top: 100%;
    left: -0.75rem;
    line-height: 1;
    padding-top: 0.875rem;
    transform-origin: center top;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -0.4375rem, 0);
    will-change: transform;
    display: flex;
    flex-direction: column;
    z-index: 6;
  }
}
@media (hover: none) {
  .submenu.open {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
.submenu__list {
  background: #262626;
  border-radius: 0.375rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  white-space: nowrap;
  gap: 0.625rem;
}
.submenu__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .submenu__link:hover {
    color: #f9851f;
  }
}

.icon-menu {
  flex-shrink: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  order: 1;
  z-index: 11;
  height: 3.4375rem;
  min-width: 3.4375rem;
  background: #ebf5f5;
  color: #1da7df;
  border-radius: 50%;
  padding: 0.75rem 1rem;
  transition: color 0.3s ease;
}
@media (min-width: 991.98px) {
  .icon-menu {
    display: none;
  }
}
@media (any-hover: hover) {
  .icon-menu:hover {
    color: #6adeac;
  }
}
.icon-menu span {
  display: block;
  padding: 0.1875rem 0rem;
  width: 100%;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
  will-change: transform;
}
.icon-menu span::before {
  content: "";
  display: block;
  height: 0.125rem;
  width: 100%;
  margin-left: auto;
  background: currentColor;
  transition: transform 0.3s ease 0s;
  will-change: transform;
}
.header.open-menu .icon-menu span {
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
}
.header.open-menu .icon-menu span::before {
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
  width: 90%;
}
.header.open-menu .icon-menu span:first-child {
  transform: translateY(0.5rem);
}
.header.open-menu .icon-menu span:first-child::before {
  transform: rotate(-135deg);
}
.header.open-menu .icon-menu span:nth-child(2) {
  opacity: 0;
}
.header.open-menu .icon-menu span:nth-child(3) {
  transform: translateY(-0.5rem);
}
.header.open-menu .icon-menu span:nth-child(3)::before {
  transform: rotate(-225deg);
}

.footer {
  background: #262626;
  padding: 1.875rem 0;
}
.footer__body .row {
  margin: 0 -0.625rem;
  row-gap: 1.25rem;
}
.footer__body .row > * {
  padding: 0 0.625rem;
}
.footer__logo {
  max-width: 6.375rem;
  width: 100%;
  display: block;
}
.footer__logo img {
  width: 100%;
}
.footer__btn {
  margin-top: 1.25rem;
}
.footer__btn.btn.btn-sm {
  padding-inline: 0.63rem;
}
.footer__caption {
  display: flex;
  align-items: center;
  gap: 0.38rem;
}
.footer__caption::before {
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9851f;
}
.footer__menu {
  margin-top: 0.63rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 140%;
}
.footer__menu-link {
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .footer__menu-link:hover {
    color: #f9851f;
  }
}
.footer__contacts {
  margin-top: 0.63rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 140%;
}
.footer__contacts-link {
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .footer__contacts-link:hover {
    color: #f9851f;
  }
}
.footer__contacts-qr {
  margin-top: 0.37rem;
}
.footer__socials {
  margin-top: 0.63rem;
  display: flex;
  gap: 0.625rem;
}
.footer__social {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.875rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #3b3b3b;
  color: #f9851f;
  transition: background-color 0.3s ease;
}
.footer__social::before {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (any-hover: hover) {
  .footer__social:hover {
    background-color: #555555;
  }
}
.footer__bottom {
  margin-top: 1.25rem;
  border-top: 0.0625rem solid #3b3b3b;
  padding: 1.25rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #898989;
  font-size: 0.75rem;
  line-height: 120%;
}
.footer__privacy {
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .footer__privacy:hover {
    color: #f9851f;
  }
}
.footer__prod {
  text-align: right;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .footer__prod:hover {
    color: #f9851f;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.col-xxl,
.col-xxl-1,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.col-10 {
  max-width: 83.333333%;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
}

.col-11 {
  max-width: 91.666667%;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
}

.col-12 {
  max-width: 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.col-1 {
  max-width: 8.333333%;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
}

.col-2 {
  max-width: 16.666667%;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
}

.col-3 {
  max-width: 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.col-4 {
  max-width: 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
}

.col-5 {
  max-width: 41.666667%;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
}

.col-6 {
  max-width: 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.col-7 {
  max-width: 58.333333%;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
}

.col-8 {
  max-width: 66.666667%;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
}

.col-9 {
  max-width: 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
}

@media (max-width: 932px) {
  .col-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 auto;
  }
  .col-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 auto;
  }
  .col-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 auto;
  }
  .col-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 auto;
  }
  .col-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 auto;
  }
  .col-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 auto;
  }
  .col-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 auto;
  }
  .col-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 auto;
  }
  .col-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 auto;
  }
  .col-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 auto;
  }
  .col-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 auto;
  }
  .col-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 auto;
  }
}
@media (min-width: 580px) {
  .col-sm-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 auto;
  }
  .col-sm-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 auto;
  }
  .col-sm-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 auto;
  }
  .col-sm-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 auto;
  }
  .col-sm-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 auto;
  }
  .col-sm-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 auto;
  }
  .col-sm-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 auto;
  }
  .col-sm-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 auto;
  }
  .col-sm-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 auto;
  }
  .col-sm-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 auto;
  }
  .col-sm-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 auto;
  }
  .col-sm-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 auto;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 auto;
  }
  .col-md-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 auto;
  }
  .col-md-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 auto;
  }
  .col-md-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 auto;
  }
  .col-md-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 auto;
  }
  .col-md-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 auto;
  }
  .col-md-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 auto;
  }
  .col-md-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 auto;
  }
  .col-md-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 auto;
  }
  .col-md-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 auto;
  }
  .col-md-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 auto;
  }
  .col-md-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 auto;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 auto;
  }
  .col-lg-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 auto;
  }
  .col-lg-25 {
    max-width: 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 auto;
  }
  .col-lg-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 auto;
  }
  .col-lg-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 auto;
  }
  .col-lg-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 auto;
  }
  .col-lg-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 auto;
  }
  .col-lg-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 auto;
  }
  .col-lg-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 auto;
  }
  .col-lg-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 auto;
  }
  .col-lg-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 auto;
  }
  .col-lg-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 auto;
  }
  .col-lg-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 auto;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 auto;
  }
  .col-xl-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 auto;
  }
  .col-xl-25 {
    max-width: 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 auto;
  }
  .col-xl-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 auto;
  }
  .col-xl-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 auto;
  }
  .col-xl-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 auto;
  }
  .col-xl-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 auto;
  }
  .col-xl-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 auto;
  }
  .col-xl-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 auto;
  }
  .col-xl-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 auto;
  }
  .col-xl-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 auto;
  }
  .col-xl-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 auto;
  }
  .col-xl-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 auto;
  }
}
.fancybox__container {
  max-width: 100% !important;
  padding: 0 !important;
}

.fancybox__slide {
  padding: 0;
}

.fancybox__backdrop {
  background: rgba(14, 22, 65, 0.7);
}

.fancybox__content {
  color: inherit;
  background: none;
  padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.popup {
  display: none;
  background: #fff;
  color: #000;
  position: relative;
  border-radius: 0.25rem;
  max-width: 60rem;
  width: 100%;
  padding: 2rem 1.5rem;
}
@media (min-width: 575.98px) {
  .popup {
    padding: 5.63rem 7.88rem;
  }
}
.popup__close {
  font-size: 1.5rem;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  transition: color 0.3s ease;
  top: 0.5rem;
  right: 0.5rem;
}
@media (min-width: 575.98px) {
  .popup__close {
    top: 2.12rem;
    right: 2.12rem;
  }
}
@media (any-hover: hover) {
  .popup__close:hover {
    color: #f06868;
  }
}
.popup__description {
  margin-top: 1rem;
  font-size: 1.25rem;
}
.popup__form {
  margin-top: 1.81rem;
}
.popup__form .row > * {
  padding: 0.75rem 1rem;
}

.title {
  text-align: center;
  font-size: 2.9375rem;
  font-weight: 600;
  line-height: 120%;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 120%;
  border-radius: 50%;
  background: #f9851f;
  color: #1b1b1b;
  min-width: 1.1875rem;
  height: 1.1875rem;
}

.color-accent {
  color: #f9851f;
}

.seo-text {
  margin-top: 1.875rem;
  color: #898989;
  text-align: center;
  font-size: 1rem;
  line-height: 140%;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  left: auto;
  right: auto;
  bottom: auto;
  top: auto;
  margin: 0;
  transform: none;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  z-index: 2;
  width: 3.125rem;
  height: 1.375rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  color: #fff;
  border-radius: 3.125rem;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-button-next.swiper-button-lock,
.swiper-button-prev.swiper-button-lock {
  display: none;
}
.swiper-button-next:disabled, .swiper-button-next.swiper-button-disabled, .swiper-button-next[aria-disabled=true],
.swiper-button-prev:disabled,
.swiper-button-prev.swiper-button-disabled,
.swiper-button-prev[aria-disabled=true] {
  pointer-events: none;
  opacity: 0.7;
}
@media (any-hover: hover) {
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background: #f9851f;
  }
}

.swiper-pagination.swiper-pagination-bullets {
  position: static;
  z-index: 1;
  margin: 0;
  width: auto;
  display: flex;
  align-items: center;
}
.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  min-width: 1.25rem;
  height: 0.5rem;
  border-radius: 1.875rem;
  background: #262626;
  opacity: 1;
  transition: all 0.3s ease;
  padding: 0 0.625rem;
  cursor: pointer;
}
.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  padding: 0 1.25rem;
  background: #f9851f;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #f9851f;
  border-radius: 0.5rem;
}
@media (any-hover: hover) {
  ::-webkit-scrollbar-thumb:hover {
    background: #e6e6e6;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__label {
  font-size: 1.0625rem;
  line-height: 141.176%;
  display: inline-block;
  margin-bottom: 0.25rem;
}
.form__control {
  text-overflow: ellipsis;
  font-family: "Manrope";
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  border-radius: 0.25rem;
  border: 0.0625rem solid rgba(9, 97, 166, 0.3);
  background: rgba(9, 97, 166, 0.1);
  padding: 1rem 1.5rem;
  min-height: 3.75rem;
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 141.176%;
  color: #000;
}
.form__control:focus {
  border: 0.0625rem solid rgb(9, 97, 166);
}
.form__control:disabled {
  opacity: 0.24;
}
.form__control:is(textarea) {
  height: 9rem;
  resize: none;
}
.form__control:is(select) {
  background: url("../img/icons/down.svg") no-repeat right 1.5rem center/1.5rem, rgba(9, 97, 166, 0.1);
  appearance: none;
}
.form__checkbox {
  display: block;
}
.form__checkbox-input:checked + .form__checkbox-text::before {
  background-color: rgb(9, 97, 166);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23BAE582' d='M9 16.17L4.83 12l-1.42 1.41L9 19L21 7l-1.41-1.41z'/%3E%3C/svg%3E");
}
.form__checkbox-input.error + .form__checkbox-text::before {
  border: 0.0625rem solid #f06868;
}
.form__checkbox-text {
  position: relative;
  align-content: center;
  width: fit-content;
  line-height: 133.333%;
  min-height: 2.25rem;
  padding: 0 0 0 2em;
  cursor: pointer;
  user-select: none;
}
.form__checkbox-text::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #dfe4ef;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__checkbox-text a {
  text-decoration: underline;
  color: #3972c4;
}
@media (any-hover: hover) {
  .form__checkbox-text a:hover {
    text-decoration: none;
  }
}
.btn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  gap: 0.25rem;
  font-weight: 500;
  padding: 0.375rem 0.75rem;
  border-radius: 3.125rem;
  font-size: 0.875rem;
  line-height: 140%;
  min-height: 2.25rem;
}
.btn::before {
  margin-right: 0.25rem;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.btn:focus-visible {
  box-shadow: 0 0 0.0625rem 0.0625rem #f9851f;
}
.btn.btn-primary {
  border: 0.0625rem solid #f9851f;
  background: #f9851f;
  color: #1b1b1b;
}
.btn.btn-primary:hover {
  border: 0.0625rem solid #df6c06;
  background: #df6c06;
}
.btn.btn-primary:active {
  border: 0.0625rem solid #c66005;
  background: #c66005;
}
.btn.btn-primary-outline {
  border: 0.0625rem solid #f9851f;
  color: #f9851f;
}
.btn.btn-primary-outline:hover {
  background: #f9851f;
  color: #1b1b1b;
}
.btn.btn-primary-outline:active {
  border: 0.0625rem solid #df6c06;
  background: #df6c06;
  color: #1b1b1b;
}
.btn.btn-secondary {
  border: 0.0625rem solid #3b3b3b;
  color: #fff;
}
.btn.btn-secondary::before {
  color: #f9851f;
}
.btn.btn-secondary:hover {
  background: #3b3b3b;
}
.btn.btn-secondary:active {
  border: 0.0625rem solid #555555;
  background: #555555;
}
.btn.btn-sm {
  font-size: 0.75rem;
  padding: 0.75rem 0.9375rem;
  line-height: 120%;
  border-radius: 2.6875rem;
}
.btn.btn-lg {
  font-size: 1rem;
  padding: 1.125rem 3.75rem;
}
.btn:disabled, .btn[aria-disabled=true] {
  pointer-events: none;
}
.form__label {
  font-size: 1.0625rem;
  line-height: 141.176%;
  display: inline-block;
  margin-bottom: 0.25rem;
}
.form__control {
  text-overflow: ellipsis;
  font-family: "Manrope";
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  border-radius: 0.25rem;
  border: 0.0625rem solid rgba(9, 97, 166, 0.3);
  background: rgba(9, 97, 166, 0.1);
  padding: 1rem 1.5rem;
  min-height: 3.75rem;
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 141.176%;
  color: #000;
}
.form__control:focus {
  border: 0.0625rem solid rgb(9, 97, 166);
}
.form__control:disabled {
  opacity: 0.24;
}
.form__control:is(textarea) {
  height: 9rem;
  resize: none;
}
.form__control:is(select) {
  background: url("../img/icons/down.svg") no-repeat right 1.5rem center/1.5rem, rgba(9, 97, 166, 0.1);
  appearance: none;
}
.form__checkbox {
  display: block;
}
.form__checkbox-input:checked + .form__checkbox-text::before {
  background-color: rgb(9, 97, 166);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23BAE582' d='M9 16.17L4.83 12l-1.42 1.41L9 19L21 7l-1.41-1.41z'/%3E%3C/svg%3E");
}
.form__checkbox-input.error + .form__checkbox-text::before {
  border: 0.0625rem solid #f06868;
}
.form__checkbox-text {
  position: relative;
  align-content: center;
  width: fit-content;
  line-height: 133.333%;
  min-height: 2.25rem;
  padding: 0 0 0 2em;
  cursor: pointer;
  user-select: none;
}
.form__checkbox-text::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #dfe4ef;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__checkbox-text a {
  text-decoration: underline;
  color: #3972c4;
}
@media (any-hover: hover) {
  .form__checkbox-text a:hover {
    text-decoration: none;
  }
}
.btn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  gap: 0.25rem;
  font-weight: 500;
  padding: 0.375rem 0.75rem;
  border-radius: 3.125rem;
  font-size: 0.875rem;
  line-height: 140%;
  min-height: 2.25rem;
}
.btn::before {
  margin-right: 0.25rem;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.btn:focus-visible {
  box-shadow: 0 0 0.0625rem 0.0625rem #f9851f;
}
.btn.btn-primary {
  border: 0.0625rem solid #f9851f;
  background: #f9851f;
  color: #1b1b1b;
}
.btn.btn-primary:hover {
  border: 0.0625rem solid #df6c06;
  background: #df6c06;
}
.btn.btn-primary:active {
  border: 0.0625rem solid #c66005;
  background: #c66005;
}
.btn.btn-primary-outline {
  border: 0.0625rem solid #f9851f;
  color: #f9851f;
}
.btn.btn-primary-outline:hover {
  background: #f9851f;
  color: #1b1b1b;
}
.btn.btn-primary-outline:active {
  border: 0.0625rem solid #df6c06;
  background: #df6c06;
  color: #1b1b1b;
}
.btn.btn-secondary {
  border: 0.0625rem solid #3b3b3b;
  color: #fff;
}
.btn.btn-secondary::before {
  color: #f9851f;
}
.btn.btn-secondary:hover {
  background: #3b3b3b;
}
.btn.btn-secondary:active {
  border: 0.0625rem solid #555555;
  background: #555555;
}
.btn.btn-sm {
  font-size: 0.75rem;
  padding: 0.75rem 0.9375rem;
  line-height: 120%;
  border-radius: 2.6875rem;
}
.btn.btn-lg {
  font-size: 1rem;
  padding: 1.125rem 3.75rem;
}
.btn:disabled, .btn[aria-disabled=true] {
  pointer-events: none;
}
.promo {
  padding: 0 0 3.75rem;
}
.promo__slider {
  border-radius: 1.5rem;
  position: relative;
  background: url("../img/wave-decor.svg") center/cover no-repeat, #262626;
}
.promo__slider::before {
  content: "";
  position: absolute;
  top: 2.75rem;
  right: 25%;
  width: 14.6875rem;
  height: 14.6875rem;
  background: #f9851f;
  border-radius: 50%;
  filter: blur(3.5625rem);
}
.promo__slider::after {
  content: "";
  position: absolute;
  bottom: 1.9375rem;
  right: 1.6875rem;
  width: 22.5rem;
  height: 22.5rem;
  background: #f9851f;
  border-radius: 50%;
  filter: blur(3.5625rem);
}
.promo__slide {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6.3125rem 2rem 3.4375rem;
}
.promo__offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.promo__label {
  color: #898989;
  text-align: center;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
  border-radius: 3.125rem;
  border: 0.0625rem solid #898989;
}
.promo__title {
  margin-top: 1.25rem;
  font-size: 3.375rem;
  font-weight: 600;
  line-height: 120%;
}
.promo__description {
  margin-top: 1.25rem;
  font-size: 1rem;
  line-height: 140%;
  max-width: 25rem;
}
.promo__btn {
  margin-top: 1.875rem;
}
.promo__image {
  flex: 0 0 25.8125rem;
}
.promo__bottom {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
}
.catalog {
  padding: 3.75rem 0;
  background: url("../img/wave-decor.svg") center/cover no-repeat;
}
.catalog__body {
  margin-top: 3.125rem;
}
.catalog__body .row {
  margin-inline: -0.625rem;
}
.catalog__body .row > * {
  padding-inline: 0.625rem;
}
.catalog__card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 1.875rem;
  position: relative;
  border-radius: 1.25rem;
  overflow: hidden;
  position: relative;
  gap: 1.25rem;
  z-index: 1;
  background: #262626;
}
.catalog__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  background: linear-gradient(180deg, rgba(38, 38, 38, 0) 0%, #262626 46.14%);
  z-index: -1;
}
.catalog__card-icon {
  border-radius: 3.125rem;
  background: #3b3b3b;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 2.25rem;
  padding: 0.125rem 1rem;
  gap: 0.625rem;
  flex-shrink: 0;
}
.catalog__card-image {
  z-index: -2;
  text-align: center;
  margin-top: -18%;
  margin-bottom: -54%;
}
.catalog__card-list {
  margin-top: auto;
}
.catalog__card-item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.catalog__card-link {
  color: #898989;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  transition: color 0.3s ease;
}
.catalog__card-link::before {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  color: #f9851f;
}
@media (any-hover: hover) {
  .catalog__card-link:hover {
    color: #fff;
  }
}
.catalog__card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  border-top: 0.0625rem solid #3b3b3b;
  padding-top: 1rem;
}
.catalog__card-name {
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 120%;
}
.catalog__card-btn {
  border-radius: 3.125rem;
  margin-bottom: 0.31rem;
  background: #f9851f;
  padding: 0.125rem 1rem;
  transition: background-color 0.3s ease;
}
.catalog__card-btn::before {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b1b1b;
}
.catalog__card-btn:hover {
  background-color: #df6c06;
}
.catalog__card-btn:active {
  background-color: #c66005;
}
.benefits {
  padding: 3.75rem 0;
}
.benefits__body {
  border-radius: 1.25rem;
  padding: 1.875rem;
  background: url("../img/wave-decor.svg") center/cover no-repeat, #262626;
}
.benefits__body .row {
  margin-inline: -0.65625rem;
}
.benefits__body .row > * {
  padding-inline: 0.65625rem;
}
.benefits__card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.benefits__card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 0.625rem;
  background: #f9851f;
}
.benefits__card-caption {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%;
}
.benefits__card-description {
  margin-top: 1rem;
  color: #898989;
  font-size: 1rem;
  line-height: 140%;
}

.products {
  padding: 3.75rem 0;
}
.products__body {
  margin-top: 3.125rem;
}
.products__body .row {
  margin: 0 -0.625rem;
  row-gap: 1.25rem;
}
.products__body .row > * {
  padding: 0 0.625rem;
}
.products__btns {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.product {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;
  background: #262626;
}
.product__header {
  background: #fff;
  height: 13.375rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.product__header-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}
.product__label {
  border-radius: 3.125rem;
  background: #3b3b3b;
  color: #898989;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 120%;
  padding: 0.5rem 0.875rem;
}
.product__compare {
  width: 2rem;
  height: 2rem;
  border-radius: 3.125rem;
  background: #3b3b3b;
  color: #898989;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.product__compare.active {
  background: #f9851f;
  color: #1b1b1b;
}
@media (any-hover: hover) {
  .product__compare:not(.active):hover {
    color: #fff;
  }
}
.product__image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}
.product__image img {
  max-height: 100%;
  width: auto;
  transition: transform 0.3s ease;
}
@media (any-hover: hover) {
  .product__image:hover img {
    transform: scale(1.05);
  }
}
.product__body {
  padding: 0.75rem 1.25rem;
}
.product__name {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .product__name:hover {
    color: #f9851f;
  }
}
.product__stats {
  margin-top: 0.9375rem;
}
.product__stats-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.product__stats-item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.product__stats-icon {
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 0.375rem;
}
.product__stats-property {
  color: #898989;
}
.product__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.125rem 1.25rem 1.25rem;
}
.product__price {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%;
}
.product__add-to-cart.btn {
  padding: 0.6875rem 1.875rem;
}

.services {
  padding: 3.75rem 0 5.9375rem;
  background: url("../img/wave-decor.svg") center/contain no-repeat;
}
.services__body {
  margin-top: 3.125rem;
}
.services__body .row {
  margin: 0 -0.625rem;
}
.services__body .row > * {
  padding: 0 0.625rem;
}
.services__card {
  border-radius: 1.25rem;
  background: #262626;
  padding: 1.875rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.services__card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.services__card-icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  background: #f9851f;
}
.services__card-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%;
}
.services__card-description {
  margin-top: 1rem;
  color: #898989;
  font-size: 1rem;
  line-height: 140%;
  margin-bottom: auto;
}
.services__card-btn {
  margin-top: 1rem;
}
.services__card-btn::before {
  order: 1;
}

.about {
  padding: 1.5625rem 0 7.5rem;
}
.about .row {
  margin: 0 -0.625rem;
  row-gap: 1.25rem;
}
.about .row > * {
  padding: 0 0.625rem;
}
.about__title {
  margin-top: 1.875rem;
  text-align: left;
}
.about__desc {
  margin-top: 1.25rem;
  max-width: 36.875rem;
  color: #898989;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
}
.about__desc p:not(:last-child), .about__desc ul:not(:last-child) {
  margin-bottom: 1.25rem;
}
.about__desc ul li {
  position: relative;
  padding-left: 1.25rem;
}
.about__desc ul li::before {
  content: "";
  position: absolute;
  top: 0.37rem;
  left: 0;
  background: #f9851f;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.about__desc ul li:not(:last-child) {
  margin-bottom: 0.625rem;
}
.about__licenses {
  padding: 1.875rem 4.13rem;
  border-radius: 1.25rem;
  background: #262626;
}
.about__licenses-slider {
  position: relative;
  border-radius: 0.625rem;
}
.about__licenses-controls {
  position: absolute;
  bottom: 1.25rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.88rem;
}