body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem(320);
	min-height: 100%;
	line-height: normal;
	background: #1b1b1b;
	color: #fff;
	margin-right: 0 !important;

	&.lock-catalog {
		overflow: hidden;
		.wrapper {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #262626;
				opacity: 0.7;
				z-index: 5;
				cursor: pointer;
			}
		}
	}
	&.lock-menu {
		@media (max-width: $md3) {
			overflow: hidden;
			.wrapper {
				position: relative;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: #262626;
					opacity: 0.7;
					z-index: 5;
					cursor: pointer;
				}
			}
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;
}

.page {
	flex: 1 1 auto;
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 rem(20);
	box-sizing: border-box;
	@media (min-width: $md4) {
		box-sizing: content-box;
		max-width: 540px;
	}
	@media (min-width: $md3) {
		max-width: 720px;
	}
	@media (min-width: $md2) {
		max-width: 960px;
	}
	@media (min-width: $md1) {
		max-width: 1200px;
	}
}

//=============== LAYOUT ===============================
