.footer {
	background: #fff;
	padding: 2rem 0;
	// .footer__wrapper
	&__wrapper {
		display: flex;
		gap: 1rem;
		flex-direction: column;
		align-items: center;
		@media (min-width: $md2) {
			flex-direction: row;
		}
		@media (min-width: $md1) {
			gap: 3.5rem;
		}
	}
	// .footer__logo
	&__logo {
	}
	// .footer__body
	&__body {
		flex: 1 1 auto;
	}
	// .footer__menu
	&__menu {
	}
	// .footer__main
	&__main {
		margin-top: 0.75rem;
		display: flex;
		gap: rem(10);
		justify-content: center;
		@media (min-width: $md2) {
			justify-content: flex-start;
		}
		@media (min-width: $md1) {
			justify-content: space-between;
		}
	}
	// .footer__socials
	&__socials {
	}
	// .footer__contact
	&__contact {
		color: #26414b;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		display: flex;
		align-items: center;
		gap: rem(10);
		&[href*="mailto:"] {
			.footer__contact-text {
				text-decoration: underline;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				.footer__contact-text {
					text-decoration: none;
					color: #1da7df;
				}
			}
		}
	}
	// .footer__contact-icon
	&__contact-icon {
		width: 3.4375rem;
		height: 3.4375rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #ebf5f5;
		border-radius: 50%;
	}
	// .footer__contact-text
	&__contact-text {
		transition: color 0.3s ease;
		@media (max-width: $md1) {
			display: none;
		}
	}
	// .footer__bottom
	&__bottom {
		margin-top: 2.75rem;
		padding: 1.5rem 0;
		border-top: rem(1) solid #e0f4f4;
		color: rgba(36, 78, 82, 0.8);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		text-align: center;
		@media (min-width: $md5) {
			line-height: 77.778%;
			font-size: 1.125rem;
		}
		@media (min-width: $md2) {
			text-align: left;
			gap: 1rem;
			justify-content: space-between;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
	// .footer__policy
	&__policy {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .footer__copyright
	&__copyright {
	}
	// .footer__prod
	&__prod {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
