// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";

// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Manrope";

// Шрифт по умолчанию

$md0: 1631.98px;
$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: 1200px; // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$text: #fff;

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "common";
@import "header";
@import "footer";
@import "grid";
@import "ui";
@import "forms";
@import "forms";

//=======================================
