// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";

// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Manrope";

// Шрифт по умолчанию

$md1: 1239.98px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 575.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: 1200px; // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$text: #fff;
$accent: #f9851f;

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "common";
@import "header";
@import "footer";
@import "grid";
@import "ui";
@import "forms";
@import "forms";

//=======================================

.promo {
	padding: 0 0 rem(40);
	@media (min-width: $md3) {
		padding: 0 0 rem(60);
	}
	// .promo__slider
	&__slider {
		border-radius: 1.5rem;
		position: relative;
		background: url("@img/wave-decor.svg") center / cover no-repeat, #262626;
		&::before {
			content: "";
			position: absolute;
			width: rem(195);
			height: rem(195);
			background: #f9851f;
			border-radius: 50%;
			filter: blur(rem(57));
			bottom: 0;
			right: 50%;
			transform: translateX(50%);
			@media (min-width: $md3) {
				top: rem(44);
				right: 25%;
				transform: none;
				bottom: auto;
			}
			@media (min-width: $md2) {
				width: rem(235);
				height: rem(235);
			}
		}
		&::after {
			@media (min-width: $md3) {
				content: "";
				position: absolute;
				bottom: rem(31);
				right: rem(27);
				background: #f9851f;
				border-radius: 50%;
				filter: blur(rem(57));
				width: rem(260);
				height: rem(260);
			}
			@media (min-width: $md2) {
				width: rem(360);
				height: rem(360);
			}
		}
	}
	// .promo__slide
	&__slide {
		height: auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: rem(20);
		gap: rem(11);
		@media (min-width: $md4) {
			padding: rem(30);
		}
		@media (min-width: $md3) {
			padding: 2rem rem(50) 2rem rem(24);
			justify-content: space-between;
			flex-direction: row;
		}
		@media (min-width: $md2) {
			padding: 2rem rem(101) 2rem rem(55);
		}
	}
	// .promo__offer
	&__offer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .promo__label
	&__label {
		color: #898989;
		text-align: center;
		font-weight: 500;
		line-height: 140%;
		border-radius: 3.125rem;
		border: rem(1) solid #898989;
		font-size: 0.75rem;
		padding: rem(7) rem(13);
		@media (min-width: $md3) {
			padding: rem(6) rem(12);
			font-size: 0.875rem;
		}
	}
	// .promo__title
	&__title {
		font-weight: 600;
		line-height: 120%;
		font-size: 2.25rem;
		margin-top: rem(12);
		@media (min-width: $md2) {
			margin-top: rem(20);
			font-size: 3.375rem;
		}
	}
	// .promo__description
	&__description {
		line-height: 140%;
		font-size: 0.875rem;
		max-width: rem(320);
		margin-top: rem(14);
		@media (min-width: $md2) {
			margin-top: 1.25rem;
			max-width: rem(400);
			font-size: 1rem;
		}
	}
	// .promo__btn
	&__btn {
		width: 100%;
		margin-top: rem(20);
		@media (min-width: $md4) {
			margin-top: rem(30);
			width: auto;
		}
		&.btn {
			padding-inline: rem(20);
			@media (min-width: $md4) {
				padding-inline: rem(60);
			}
		}
	}
	// .promo__image
	&__image {
		margin-bottom: -70%;
		max-width: 85%;
		@media (min-width: $md3) {
			margin-bottom: 0;
			max-width: 100%;
			flex: 0 0 rem(240);
		}
		@media (min-width: $md2) {
			flex: 0 0 rem(413);
		}
	}
	// .promo__bottom
	&__bottom {
		margin-top: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: rem(14);
	}
	// .promo__prev
	&__prev {
	}
	// .promo__pagination
	&__pagination {
	}
	// .promo__next
	&__next {
	}
}

.catalog {
	padding: rem(40) 0;
	@media (min-width: $md3) {
		background: url("@img/wave-decor.svg") center / cover no-repeat;
		padding: rem(60) 0;
	}
	// .catalog__title
	&__title {
	}
	// .catalog__body
	&__body {
		margin-top: rem(30);
		@media (min-width: $md3) {
			margin-top: rem(50);
		}
		.row {
			margin-inline: rem(-10);
			row-gap: rem(20);
			& > * {
				padding-inline: rem(10);
				min-height: rem(364);
			}
		}
	}
	// .catalog__card
	&__card {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		padding: 1.25rem;
		position: relative;
		border-radius: 1.25rem;
		overflow: hidden;
		position: relative;
		gap: 0.75rem;
		z-index: 1;
		background: #262626;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 1.25rem;
			background: linear-gradient(180deg, rgba(38, 38, 38, 0) 0%, #262626 46.14%);
			z-index: -1;
		}
		@media (min-width: $md3) {
			gap: 1.25rem;
			padding: rem(30);
		}
	}
	// .catalog__card-icon
	&__card-icon {
		border-radius: 3.125rem;
		background: #3b3b3b;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3.5rem;
		height: 2.25rem;
		padding: 0.125rem 1rem;
		gap: 0.625rem;
		flex-shrink: 0;
		margin-bottom: rem(44);
	}
	// .catalog__card-image
	&__card-image {
		z-index: -2;
		text-align: center;
		margin-bottom: -70%;
		margin-top: -37%;
		@media (min-width: $md4) {
			margin-bottom: -54%;
			margin-top: -18%;
		}
	}
	// .catalog__card-list
	&__card-list {
		margin-top: auto;
	}
	// .catalog__card-item
	&__card-item {
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .catalog__card-link
	&__card-link {
		color: #898989;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 140%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		width: 100%;
		transition: color 0.3s ease;
		&::before {
			@extend %ic, .icon-next;
			width: rem(20);
			height: rem(20);
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			order: 1;
			color: $accent;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
	// .catalog__card-footer
	&__card-footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 1rem;
		border-top: rem(1) solid #3b3b3b;
		padding-top: 0.75rem;
		@media (min-width: $md3) {
			padding-top: 1rem;
		}
	}
	// .catalog__card-name
	&__card-name {
		font-weight: 600;
		line-height: 120%;
		font-size: 1.3125rem;
		@media (min-width: $md3) {
			font-size: 1.5625rem;
		}
	}
	// .catalog__card-btn
	&__card-btn {
		border-radius: 3.125rem;
		margin-bottom: 0.31rem;
		background: #f9851f;
		padding: rem(2) rem(16);
		transition: background-color 0.3s ease;
		&::before {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #1b1b1b;
			width: rem(18);
			height: rem(18);
			font-size: rem(18);
			@media (min-width: $md3) {
				width: 1.5rem;
				height: 1.5rem;
				font-size: 1.5rem;
			}
		}
		&:hover {
			background-color: darken($color: #f9851f, $amount: 10);
		}
		&:active {
			background-color: darken($color: #f9851f, $amount: 15);
		}
	}
	// .catalog__footer
	&__footer {
	}
}

.benefits {
	padding: rem(40) 0;
	@media (min-width: $md3) {
		padding: rem(60) 0;
	}
	// .benefits__body
	&__body {
		border-radius: 1.25rem;
		padding: rem(20);
		background: #262626;
		@media (min-width: $md3) {
			padding: rem(30);
			background: url("@img/wave-decor.svg") center / cover no-repeat, #262626;
		}
		.row {
			margin-inline: rem(-10.5);
			row-gap: rem(19);
			& > * {
				padding-inline: rem(10.5);
			}
		}
	}
	// .benefits__card
	&__card {
	}
	// .benefits__card-header
	&__card-header {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	// .benefits__card-icon
	&__card-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;

		border-radius: 0.625rem;
		background: #f9851f;
		width: rem(44);
		height: rem(44);
		@media (min-width: $md4) {
			width: 3rem;
			height: 3rem;
		}
	}
	// .benefits__card-caption
	&__card-caption {
		font-weight: 500;
		line-height: 120%;
		font-size: 1.125rem;
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}
	// .benefits__card-description
	&__card-description {
		color: #898989;
		line-height: 140%;
		font-size: 0.875rem;
		margin-top: rem(10);
		@media (min-width: $md4) {
			margin-top: 1rem;
			font-size: 1rem;
		}
	}
}

.products {
	padding: rem(40) 0;
	display: none;
	@media (min-width: $md4) {
		display: block;
	}
	@media (min-width: $md3) {
		padding: rem(60) 0;
	}
	// .products__title
	&__title {
	}
	// .products__body
	&__body {
		margin-top: rem(50);
		.row {
			margin: 0 rem(-10);
			row-gap: rem(20);
			& > * {
				padding: 0 rem(10);
			}
		}
	}
	// .products__btns
	&__btns {
		margin-top: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 1.25rem;
	}
	// .products__btn
	&__btn {
	}
	// .products__footer
	&__footer {
	}
}

.product {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 1.25rem;
	background: #262626;
	// .product__header
	&__header {
		background: #fff;
		height: 13.375rem;
		border-radius: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	// .product__header-row
	&__header-row {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.25rem;
	}
	// .product__label
	&__label {
		border-radius: 3.125rem;
		background: #3b3b3b;
		color: #898989;
		text-align: center;
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 120%;
		padding: 0.5rem 0.875rem;
	}
	// .product__compare
	&__compare {
		width: 2rem;
		height: 2rem;
		border-radius: 3.125rem;
		background: #3b3b3b;
		color: #898989;
		transition: color 0.3s ease, background-color 0.3s ease;
		&.active {
			background: #f9851f;
			color: #1b1b1b;
		}
		&:not(.active) {
			@media (any-hover: hover) {
				&:hover {
					color: #fff;
				}
			}
		}
	}
	// .product__image
	&__image {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.25rem;
		& img {
			max-height: 100%;
			width: auto;
			transition: transform 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.05);
				}
			}
		}
	}
	// .product__body
	&__body {
		padding: 0.75rem 1.25rem;
	}
	// .product__name
	&__name {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 120%;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .product__stats
	&__stats {
		margin-top: rem(15);
	}
	// .product__stats-item
	&__stats-item {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
	// .product__stats-icon
	&__stats-icon {
		width: 1rem;
		height: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		margin-right: rem(6);
	}
	// .product__stats-property
	&__stats-property {
		color: #898989;
	}
	// .product__stats-value
	&__stats-value {
	}
	// .product__footer
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.125rem 1.25rem 1.25rem;
	}
	// .product__price
	&__price {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 120%;
	}
	// .product__add-to-cart
	&__add-to-cart {
		&.btn {
			padding: rem(11) rem(30);
		}
	}
}

.services {
	background: url("@img/wave-decor.svg") center / contain no-repeat;
	padding: rem(40) 0;
	display: none;
	@media (min-width: $md4) {
		display: block;
	}
	@media (min-width: $md3) {
		padding: rem(60) 0 rem(95);
	}
	// .services__title
	&__title {
	}
	// .services__body
	&__body {
		margin-top: rem(30);
		@media (min-width: $md3) {
			margin-top: rem(50);
		}
		.row {
			margin: 0 rem(-10);
			row-gap: rem(20);
			& > * {
				padding: 0 rem(10);
			}
		}
	}
	// .services__card
	&__card {
		border-radius: 1.25rem;
		background: #262626;
		padding: rem(30);
		min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .services__card-header
	&__card-header {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	// .services__card-icon
	&__card-icon {
		width: 3rem;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0.625rem;
		background: #f9851f;
	}
	// .services__card-title
	&__card-title {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 120%;
	}
	// .services__card-description
	&__card-description {
		margin-top: 1rem;
		color: #898989;
		font-size: 1rem;
		line-height: 140%;
		margin-bottom: auto;
	}
	// .services__card-btn
	&__card-btn {
		margin-top: 1rem;
		&::before {
			order: 1;
		}
	}
}

.about {
	padding: rem(25) 0 rem(40);
	display: none;
	@media (min-width: $md4) {
		display: block;
	}
	@media (min-width: $md3) {
		padding: rem(25) 0 rem(60);
	}
	.row {
		margin: 0 rem(-10);
		row-gap: rem(20);
		& > * {
			padding: 0 rem(10);
		}
	}
	// .about__title
	&__title {
		margin-top: rem(30);
		text-align: left;
	}
	// .about__desc
	&__desc {
		margin-top: rem(20);
		color: #898989;
		font-size: 1rem;
		font-weight: 400;
		line-height: 140%;
		@media (min-width: $md2) {
			max-width: rem(590);
		}
		& p,
		& ul {
			&:not(:last-child) {
				margin-bottom: 1.25rem;
			}
		}
		& ul {
			& li {
				position: relative;
				padding-left: 1.25rem;
				&::before {
					content: "";
					position: absolute;
					top: 0.37rem;
					left: 0;
					background: #f9851f;
					width: 0.5rem;
					height: 0.5rem;
					border-radius: 50%;
				}
				&:not(:last-child) {
					margin-bottom: rem(10);
				}
			}
		}
	}
	// .about__licenses
	&__licenses {
		padding: rem(30) 4.13rem;
		border-radius: 1.25rem;
		background: #262626;
	}
	// .about__licenses-slider
	&__licenses-slider {
		position: relative;
		border-radius: 0.625rem;
	}
	// .about__licenses-slide
	&__licenses-slide {
	}
	// .about__licenses-controls
	&__licenses-controls {
		position: absolute;
		bottom: 1.25rem;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.88rem;
	}
	// .about__licenses-prev
	&__licenses-prev {
	}
	// .about__licenses-pagination
	&__licenses-pagination {
	}
	// .about__licenses-next
	&__licenses-next {
	}
}
