//============ МОДУЛИ ====================
@import "modules/popup";

//============ МОДУЛИ ====================

.title {
	text-align: center;
	font-weight: 600;
	line-height: 120%;
	font-size: 1.875rem;
	@media (min-width: $md4) {
		font-size: 2.25rem;
	}
	@media (min-width: $md3) {
		font-size: 2.9375rem;
	}
}

.quantity {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	font-weight: 500;
	line-height: 80%;
	border-radius: 50%;
	background: #f9851f;
	color: #1b1b1b;
	min-width: rem(10);
	height: rem(10);
	font-size: 0.5rem;
	@media (min-width: $md1) {
		line-height: 120%;
		font-size: 0.75rem;
		min-width: 1.1875rem;
		height: 1.1875rem;
	}
}

.color-accent {
	color: $accent;
}

.seo-text {
	color: #898989;
	text-align: center;
	line-height: 140%;
	font-size: 0.875rem;
	margin-top: 1.25rem;
	@media (min-width: $md4) {
		margin-top: rem(30);
		font-size: 1rem;
	}
}

.swiper-button-next,
.swiper-button-prev {
	&::after {
		display: none;
	}
	position: static;
	left: auto;
	right: auto;
	bottom: auto;
	top: auto;
	margin: 0;
	transform: none;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	z-index: 2;
	width: rem(50);
	height: rem(22);
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #262626;
	color: #fff;
	border-radius: rem(50);

	&.swiper-button-lock {
		display: none;
	}

	&:disabled,
	&.swiper-button-disabled,
	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: 0.7;
	}

	@media (any-hover: hover) {
		&:hover {
			background: $accent;
		}
	}
}

.swiper-button-prev {
	@extend %ic, .icon-prev;
}
.swiper-button-next {
	@extend %ic, .icon-next;
}

.swiper-pagination {
	&.swiper-pagination-bullets {
		position: static;
		z-index: 1;
		margin: 0;
		width: auto;
		display: flex;
		align-items: center;
		.swiper-pagination-bullet {
			min-width: rem(20);
			height: rem(8);
			border-radius: rem(30);
			background: #262626;
			opacity: 1;
			transition: all 0.3s ease;
			padding: 0 rem(10);

			cursor: pointer;
			&.swiper-pagination-bullet-active {
				opacity: 1;
				padding: 0 rem(20);
				background: $accent;
			}
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация скролла

$scrollbarColor: $accent;

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: darken($color: $text, $amount: 10);
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
